%h3 Matt 1:1-17
%ul
  %li Matthew’s genealogy is Joseph’s royal lineage
  %li Luke’s is Mary’s
  %li Diverge at David’s children, Solomon vs. Nathan
  %li Matthew’s: mentions women
  %li Consider the providence of each
  %li Consider His providence with us and our lineage!
%h3 Matt 1:18-25
%ul
  %li See Luke 1:1-56
  %li V. 32: son of the highest
  %li Throne of David!
  %li Kingdom is forever
  %li “Son of God”
  %li Song of Mary prophetic of the nature of God’s plan of redemption
  %li Jesus: Greek version of Hebrew Joshua, meaning Jehovah the Savior
  %li Christ: the Greek version of Hebrew “messiah”, means “anointed”
  %li Son of God: denotes His nature, His divinity (title of nature, not office)
  %li Son of David: His title of human nature, and royalty
  %li Lord: Jehovah, Adonai, means supreme master
%p.p2
  %br/
%h3 OT Prophesies that relate to the first advent:
%ul
  %li *Gen 3:15…. “protoevangelium”, Gen 49:8-10, Deut 18:15-18, 2 Sam 7:12-16
  %li Psalm 110, *Daniel 2, 9:24 (from King Artaxerxes 457…), New Covenant: Jer 31:31, Ezek 26
%p.p2
  %br/
%h3 NT clarifications of prophetic fulfillment
%ul
  %li Simeon and Anna, Acts 2, Heb 2:14-18… expectations of disciples
  %li Gal 4:4-7
%br
%p.p3 Incarnation
%p.p3 Sinless Life (born under law)
%p.p3 Atoning Death
%p.p3 Resurrection
%p.p3 Ascension….. all lead to His being seated on His Throne!
%p.p3 Await His second coming, our resurrection and redemption of all creation
%p.p2
  %br/
%h3 Creation and first Adam and dominion mandate
%ul
  %li Second Adam, New Creation begun, New dominion begun (already and not yet)
  %li Transition from Old Covenant to New Covenant
  %li Transition from Israel to the Church (although Romans 11:26, “All Israel will be saved”)
%p.p2
  %br/
%p.p3 Interesting observation as to the Immanuel prophesy coming near (65+yrs.) the deliverance of God’s people and the judgment of Israel, again! (70AD): initial fulfillment related to God delivering Judah and judging Syria and Israel in the Assyrian invasion (722bc)
%p.p3 Note of Joseph’s mercy triumphing over judgment! (Micah 6:8 and others)
%p.p3
  Mention of types and antitypes, dual fulfillments
  %br
