%h3 Matthew 2:1-12 (context: Augustus Ceasar and Herod the Great)
%ul
  %li God with us? Significance?
  %ul
    %li Again: the crossroads of time, the time of fulfillment
    %li New Covenant, “Christ in us, the hope of glory” Col 1:27
    %li Review first Adam, second Adam concept
    %li Review incarnation to the ascension as the first coming events, then pentecost
  %li Zacharias’ Prophecy
  %ul
    %li Visited and redeemed His people
    %li House of David
    %li * remembered His covenant with Abraham
    %li That his people might serve in Holiness and Righteousness
    %li Light to those who sit in darkness (John 3)
  %li Song of Mary
  %ul
    %li Scattered the proud
    %li Lower the mighty
    %li Exalt the lowly
    %li Fill the hungry
    %li Rich sent away
    %li Abrahamic covenant
  %li Who is Herod?:
  %ul
    %li Actually died in 4 BC so Jesus born 5 or 6 BC
    %li Edomite from the Esau’s lineage, related to Amalekites, Idumeans (ex. Agag and Haman)
    %ul
      %li Denied passage of Israelites in the Exodus
      %li Forever identified with rebellious nations that will be judged
  %li Wise men from the east?
  %ul
    %li Sorcerers from ancient Persia (not clearly three!)
    %li Daniel’s prophetic influence
    %li Irony of gentiles knowing and seeking the Christ, but the Jews being unaware except for the few
    %li “He came to own but His own did not receive Him” John 1 (foreshadows)
    %li Like the Queen of the south, who came from far away “will rise up in the judgment with
    %b this generation
    and condemn it”
    %li Lead by the star: Like the manna in the desert or the “pillar of fire”, God often gives just what we need and no more (Henry)
    %li Timing of their visit suggests that Jesus was already 1-2 years of age (v. 16)
  %li Gold, frankincense and Myrrh
  %ul
    %li Frankincense: a fragrant gum resin from trees that is an important incense resin and has been used in religious rites, perfumery, and embalm
    %li
      Myrrh: Since
      %a{:href=>"http://en.wikipedia.org/wiki/Classical_antiquity"} ancient times,
      myrrh has been valued for its fragrance, its medicinal qualities as a wound dressing and an aromatic stomatic and for the ancient Egyptians as the principal ingredient used in the embalming of mummies. So valuable has it been at times in ancient history that it has been equal in weight value to gold.
  %li King of the Jews, significance? See titles of Jesus
  %li All troubled in Jerusalem?
  %li V6. “out of you shall come a ruler”
  %li V21. “his people” communicates His ownership of His elect
  %li Relationship of Jesus to John (Mary and Elizabeth cousins? Through their mother?) John 6 months older.
  %li Other events at this time:
  %ul
    %li Shepherds and angels
    %li Circumcision Luke 2:21 at 8 days according to the Law
    %li Jesus “born under the law”
    %li Firstborn son to Mary given to be “holy to the Lord”
    %li Salvation to the gentiles and Israel (plan at His birth)
%p Summary thoughts:
%ul
  %li The enormity of the magnitude and momentousness of the first advent for all of creation!
  %li To think that we are “ministers of this reconciliation”
  %li We are ambassadors for our great King: Eph 2:20…
  %li To appreciate the prophetic fulfillment of His coming
  %ul
    %li Once again, No Denial
%h3 Matt 2:13-23
%ul
  %li Frequent angelic visitations and dreams
  %li “Out of Israel” refers to the nation of Israel (God’s “son”) being called out of bondage in Egypt (Exo 4:22)
  %li Here Jesus as the “greater Moses” will lead his people out of bondage of sin
  %li Example of Typology
  %li Joseph called to flee “until he heard further” from the Lord: obedience and dependence, natural means and provision by the Lord
  %li Not unlike Abraham, not knowing exactly where and how (Heb 11:8)
  %li Rachel: a wife of Jacob (favorite), mother of Joseph and Benjamin, died giving birth to Benjamin, buried in Bethlehem, used by Jeremiah 31:15 to represent mourning during Babylonian captivity and here related to suffering in Bethlehem
  %li So back to Nazareth where his mother and father were from (Luke 1:26, 2:39)
  %li Nazareth: Greek form of Hebrew word meaning branch (Isaiah 4:2). City name probably refers to “watch tower”, relating to hill in local area that looked over the land
  %li Debatable as to whether the city had a bad reputation (Nathaniel’s comments)
  %li Interesting: no OT prophecy mentions Nazareth. Maybe oral tradition?
%p Ask Caleb Johnson about Josephus: 
%p.quote "But now Herod’s distemper greatly increased upon him after a severe manner, and this by God’s judgment upon him for his sins: for a fire glowed in him slowly, which did not so much appear to the touch outwardly as it augmented his pains inwardly; (169) for it brought upon him a vehement appetite to eating, which he could not avoid to supply with one sort of food or other. His entrails were also exulcerated, and the chief violence of his pain lay on his colon; an aqueous and transparent liquor also settled itself about his feet, and a like matter afflicted him at the bottom of his belly. Nay, farther, his privy member was putrified, and produced worms; and when he sat upright he had a difficulty of breathing, which was very loathsome, on account of the stench of his breath, and the quickness of its returns; he had also convulsions in all parts of his body, which increased his strength to an insufferable degree. (170) It was said by those who pretended to divine, and who were endowed with wisdom to foretell such things, that God inflicted this punishment on the king on account of his great impiety;" (Josephus Antiquities)

%h3 Luke 2:39-52
%ul
  %li Three annual feasts in Jerusalem: Passover, Pentecost, and Tabernacles
%p Passover in Jerusalem: The appearance of Jerusalem on the occasion of the Passover in the time of our Lord is thus fittingly described:
%p.quote “The city itself and the neighbourhood became more and more crowded as the feast approached, the narrow streets and dark arched bazaars showing the same throng of men of all nations as when Jesus had first visited Jerusalem as a boy. Even the temple offered a strange sight at this season, for in parts of the outer courts a wide space was covered with pens for sheep, goats, and cattle to be used for offerings. Sellers shouted the merits of their beasts, sheep bleated, oxen lowed. Sellers of doves also had a place set apart for them. Potters offered a choice from huge stacks of clay dishes and ovens for roasting and eating the Passover lamb. Booths for wine, oil, salt, and all else needed for sacrifices invited customers. Persons going to and from the city shortened their journey by crossing the temple grounds, often carrying burdens … Stalls to change foreign money into the shekel of the temple, which alone could be paid to the priests, were numerous, the whole confusion making the sanctuary like a noisy market” (Geikie’s Life of Christ).
%br
%ul
  %li Interestingly, Luke omits the flight into Egypt
  %li Passover (14 Nisan) was a one day feast followed immediately by a week long feast of unleavened bread (Matt 26:17)
  %li V. 42: Bar Mitzvah was at 13, first feast at 12 in preparation of that rite (MacArthur), Matt 21:15 sites “children” (boys) shouting in the temple
  %li V. 46: Jesus was (at 12), both asking questions, and giving answers thus demonstrating his great wisdom at a young age (what about us?)
  %li We have the “very words of God”, Peter: Where shall we go?
  %li “secret weapon” is not really secret, we just make it such
  %li It is “sharper than any two edged sword”
  %p.quote
    "I have more insight than all my teachers, for I meditate on your statutes. I have more understanding than the elders, for I obey your precepts." Psalm 119:99-100
%p.quote
  The Jewish doctors say that at twelve years old children must begin to fast from time to time, that they may learn to fast on the day of atonement; and that at thirteen years old a child begins to be
  %b a son of the commandment,
  that is, obliged to the duties of adult church-membership, having been from his infancy, by virtue of his circumcision,
  %b a son of the covenant.
  (MH)
  %br
  %br
  %li V.51: Jesus submitting to His parents
  %li V.52: “in favor with God and men” like
  %p.quote "And the child Samuel grew in stature, and in favor both with the LORD and men." 1 Sam 2:26
  %p.quote
    "My son, do not forget my teaching,
    %br
    but keep my commands in your heart, 
    %br 
    for they will prolong your life many years and bring you prosperity.
    %br
    Let love and faithfulness never leave you;
    %br
    bind them around your neck,
    %br
    write them on the tablet of your heart.
    %br
    Then you will win favor and a good name in the sight of God and man." Prov 3:1-4
