@import bootstrap
@import bootstrap-responsive

.container-fluid
  margin-top: 70px
  margin-right: 20px

.container
  padding-top: 80px
  padding-bottom: 40px

.centered
  text-align: center
  float: center

li
  list-style-type: none
  margin-left: -10px

h1
  margin: 0 auto
  text-align: center

.navbar .brand
  margin-left: 0px

// Notes
.notes span
  font-weight: bold

.notes li
  list-style-type: disc
  margin-left: 0px

.notes ul ul li
  list-style-type: circle

.notes ul ul ul li
  list-style-type: square

.notes p
  margin-bottom: 2px

form
  margin-top: 15px

option
  font-size: 16px
